<app-section-header title="Forgot Password" back="true"></app-section-header>

<div *ngIf="!feed.loading; else loader">

  <div class="message alert alert-light">
    <p>Please enter the email that is associated with your account. We will send an email beginning the reset
      process.</p>
  </div>


  <form [formGroup]="form">
    <mat-form-field>
      <mat-label matPrefix>Email</mat-label>
      <input matInput formControlName="email"/>
      <mat-error *ngIf="form.get('email').dirty && form.get('email').invalid">
        Invalid Email
      </mat-error>
    </mat-form-field>
  </form>


  <feedback></feedback>
  
  <div class="row no-gutters justify-content-stretch align-items-center mt-3">
    <a mat-raised-button color="primary" class="btn btn-block btn-lg" (click)="onFormSubmit()"
      [disabled]="!accountForm.ReadyForSubmission()">
      <label>Begin Process</label>
    </a>
  </div>

</div>

<ng-template #loader>
  <loader></loader>
</ng-template>