<div class="row justify-content-between align-items-center no-gutters {{ backdrop ? 'panel' : '' }}">

  <div class="col ml">
    <div><p>{{ course.park_name }}</p></div>
    <div class="sub-text">{{ course.city}}, {{ course.state }} {{ course.zip }}</div>
  </div>


  <div class="col-xs" *ngIf="mode == 'selector'">
    <a mat-flat-button color="transparent-primary" (click)="selectCourse(course)">
      <span class="icon-circle"></span>
    </a>
  </div>

  <div class="col-xs" *ngIf="mode == 'list'">
    <a *ngIf='account_?.user' mat-flat-button color="accent" (click)="favorite(course)" class="ml-1">
      <span class="icon-heart"></span>
    </a>

    <a mat-flat-button matTooltip='View Course Page' color="transparent-primary" routerLink="/courses/{{ course.id }}" class="ml-1">
      <span class="icon-chevrons-right"></span>
    </a>
  </div>
</div>