<div class="panel row justify-content-between align-items-center no-gutters">

  <div class="col ml">
    <div class="mat-h3">{{ course.park_name }}</div>
    <div class="sub-text mat-h4">{{ course.city}}, {{ course.state }} {{ course.zip }}</div>
  </div>


  <div class="col-xs" *ngIf="mode.indexOf('selector') > -1">
    <a mat-flat-button color="transparent-primary" (click)="selectCourse(course)">
      <span class="icon-circle"></span>
    </a>
  </div>

  <div class="col-xs" *ngIf="mode.indexOf('link') > -1">
    <a *ngIf='account_?.user && mode.indexOf("favorite") > -1' mat-flat-button color="accent" (click)="favorite(course)" class="ml-1">
      <span class="icon-heart"></span>
    </a>

    <a mat-flat-button matTooltip='View Course Page' color="transparent-primary" routerLink="/courses/{{ course.id }}" class="ml-1">
      <span class="icon-chevron-right"></span>
    </a>
  </div>
</div>