<div>
    <h1>
      <label>Add Player</label>
  
      <a mat-icon-button color="primary" (click)="close()">
        <span class="icon-x"></span>
      </a>
  
    </h1>
  
    <form [formGroup]="form">
      <mat-form-field>
        <mat-select placeholder="Player" formControlName='player'>
          <mat-option *ngFor="let player of availablePlayers" [value]="player">
            {{ player.user.first }} {{ player.user.last }}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="availablePlayers.length > 0">Select a player or create a temporary player</mat-hint>
        <mat-hint *ngIf="availablePlayers.length == 0">No members left, create a temporary player below</mat-hint>
      </mat-form-field>
  
  
      <mat-form-field *ngIf="session.format != 'ffa'">
        <mat-select placeholder="Team" formControlName='team'>
          <mat-option *ngFor="let team of teamList" [value]="team">
            <div class="colorChoice">
              <div class="colorIcon {{ team.color }}"></div>
              <label>{{ team.name | titlecase }}</label>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
  
    </form>
  
  
    <div class="actions">
      <div class="row">
        <a mat-raised-button color="warn" (click)="createTemporaryPlayer()">
          Create Temporary Player
        </a>
  
        <a mat-raised-button color="primary" (click)="saveRoster()" [disabled]="form.invalid || form.pristine">
          <label>Add Player</label>
        </a>
      </div>
    </div>
  </div>