<app-section-header title="Teams" [buttons]="headerButtons" (actionClick)="actionClick($event)"></app-section-header>

<div *ngIf="resolve; else loader" @flyInPanelRow>
  <div class="panel row" @flyInPanelRow *ngFor="let team of teamList; trackBy:itemTrackBy">
    <div class="colorChoice">
      <div class="colorIcon {{ team.color }}"></div>
      <label [style.color]="team.hex">{{ team.name | titlecase }}</label>
    </div>

    <div class="panelActions">
      <div class="scores">
        <label> {{ team.teamScore }} </label>
      </div>

      <a mat-flat-button color="primary" (click)='editTeam(team)'>
        <span class="icon-settings"></span>
      </a>
      <a mat-flat-button color="warn" (click)='deleteTeam(team)'>
        <span class="icon-trash-2"></span>
      </a>
    </div>
  </div>

  <div class="panel center warn" @flyInPanelRow *ngIf="status == 'warn'">
    <p class="message">Teams not yet Setup.</p>
  </div>
</div>

<ng-template #loader>
  <app-feedback></app-feedback>
</ng-template>