<div *ngFor="let team of _scores.teams$ | async; let i = index" @flyIn class="mb-3">

    <team-list-item [team]="team" [mode]="playerModes" @flyIn></team-list-item>

    <div *ngIf="_scores.roster$ | async as roster" class="row justify-content-center align-items-center no-gutters"
        @flyIn>
        <div class="col-12">
            <score-list-item *ngFor="let player of roster[i]" [score]="player" [mode]="playerModes" backdrop="true"
                (action)="scoreAction($event)"></score-list-item>
        </div>

    </div>
</div>