<app-section-header title="Reset Password" [buttons]="headerButtons" (actionClick)="actionClick($event)">
</app-section-header>

<form [formGroup]="form">

  <!--  Old Password  -->
  <form-password inputType="old" [control]="form.get('old')"></form-password>

  <!--  Password  -->
  <form-password inputType="password" [control]="form.get('password')"></form-password>

  <!--  Confirmation  -->
  <form-password inputType="confirm" submitOnEnter="true" [control]="form.get('conf')"></form-password>

</form>

<feedback></feedback>

<div class="row no-gutters justify-content-stretch align-items-center mt-2">
  <a mat-raised-button color="primary" class="btn btn-block" [disabled]="form.pristine || form.invalid"
    (click)="onFormSubmit()">
    <label>Update Password</label>
  </a>
</div>