<app-section-header title="Create Team" [buttons]="headerButtons" (actionClick)="actionClick($event)"></app-section-header> 

<form [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Team Name" />
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="color" placeholder="Pick a Color">
      <mat-option *ngFor="let color of colorList" [value]="color" [disabled]="!color.available">
        <div class="colorChoice">
          <div class='colorIcon {{ color.name }}'></div>
          <label>{{ color.name | titlecase }}</label>
        </div>
      </mat-option>

    </mat-select>

  </mat-form-field>

  <div class="actions">
    <div class="row">
      <a mat-raised-button color="primary" (click)="createTeam()" [disabled]="form.invalid || form.pristine">
        Create Team
      </a>
    </div>

  </div>

</form>