<div class="panel row justify-content-between align-items-center no-gutters" @flyInPanelRow>

	<!--	Team Color Bar	-->
	<div class="colorChoice" *ngIf='score?.team'>
		<div class="colorIcon {{ score.team.color.name }}"></div>
	</div>

	<!--	Name	-->
	<div class="col ml-3" *ngIf="mode != 'puck'">
		<div>{{ score.player.first_name }} {{ score.player.last_name }} <span
				*ngIf="score.handicap && score.handicap != 0" class="icon-shield color-accent"></span></div>
		<div class="sub-text" *ngIf="mode == 'selector'">{{ score.player.email }}</div>
	</div>

	<div class="col ml-3" *ngIf="mode == 'puck'">
		<div class="row justify-content-between align-items-center no-gutters">
			<div class="col">
				{{ (score.player.first_name | slice:0:1)+'.' }}
				{{ (score.player.last_name.length>8)? (score.player.last_name | slice:0:8)+'..' : (score.player.last_name) }}
			</div>

			<div class="col-xs">
				<span *ngIf="score.handicap && score.handicap != 0" class="icon-shield color-accent"></span>
			</div>
		</div>


	</div>

	<!--	Scores		-->


	<!--	Admin Actions	-->
	<div class="col-xs" *ngIf="mode != 'selector' && mode != 'puck'">
		<a mat-icon-button color="primary" [matMenuTriggerFor]="appMenu">
			<span class="icon-more-vertical"></span>
		</a>

		<mat-menu #appMenu="matMenu">
			<a mat-menu-item (click)="openSettings(score.player)">Set Handicap</a>
			<a mat-menu-item color="warn" (click)="remove(score.player)">Remove </a>
		</mat-menu>
	</div>


	<div class="col-xs" *ngIf="mode == 'selector'">
		<a mat-icon-button color="primary" (click)="include(score.player)">
			<span class="icon-plus"></span>
		</a>
	</div>

	<!--		Move to Admin Burger Menu 	

	<div class="col-xs" *ngIf="mode == 'remove'">
		<a mat-icon-button color="primary" (click)="openSettings(score.player)">
			<span class="icon-settings"></span>
		</a>
		<a mat-icon-button color="warn" (click)="remove(score.player)">
			<span class="icon-minus"></span>
		</a>
	</div>
	-->
</div>