<div class="row justify-content-end align-items-center no-gutters {{ backdrop ? 'panel' : '' }}">

	<!--	Team Color Bar	-->
	<div class="colorChoice" *ngIf='score.team.color?.name != null'>
		<div class="colorIcon {{ score.team.color?.name }}"></div>
	</div>

	<!--	Name	-->
	<div class="col ml" *ngIf="mode.indexOf('full') != -1">
		<div>{{ score.player.first_name | titlecase}} {{ score.player.last_name | titlecase}}</div>
		<div class="sub-text" *ngIf="mode.indexOf('email') != -1">{{ score.player.email }}</div>
	</div>

	<div class="col ml" *ngIf="mode.indexOf('short') != -1">
		{{ ((score.player.first_name | titlecase) | slice:0:1)+'.' }}
		{{ (score.player.last_name.length > 8 ) ? ((score.player.last_name | titlecase) | slice:0:8)+'..' : (score.player.last_name | titlecase) }}
	</div>



	<!--	Handicap	-->
	<div class="col-2" *ngIf="mode.indexOf('admin') != -1">
		<a mat-flat-button matTooltip="Set Handicap"
			color="{{ +score.handicap != 0 ? 'transparent-accent' : 'transparent-info'}}"
			(click)="openSettings(score.player)" class="row justify-content-center align-items-center no-gutters">
			<span class="icon-shield {{ +score.handicap != 0 ? 'color-accent' : 'color-info'}}"></span>
		</a>
	</div>



	<!--	Scores		-->
	<div class="col-2" *ngIf="score.score_array?.length;">
		<span class='icon-alert-triangle color-warn'></span>
	</div>



	<!--	Remove	-->
	<div class="col-xs" *ngIf="mode.indexOf('remove') != -1">
		<a mat-flat-button color="transparent-warn" (click)="remove()">
			<span class="icon-x"></span>
		</a>
	</div>

	

	<!--	Selector	-->
	<div class="col-xs" *ngIf="mode.indexOf('selector') != -1">
		<mat-checkbox (change)="toggleScore($event, score)" [value]="selectorCheckbox"></mat-checkbox>
	</div>
</div>