<app-section-header title="Remove Player" [buttons]="headerButtons" (actionClick)="actionClick($event)"></app-section-header> 


<div class="message">
  <p>Are you absolutely sure you want to remove this player?</p>
</div>

<div class="actions">
  <div class="row">

    <a mat-raised-button color='primary' (click)="confirmDelete()" *ngIf="!deleteConfirm">
      Confirm
    </a>

    <a mat-raised-button color='warn' (click)="removePlayer()" *ngIf="deleteConfirm">
      Yes, remove this player.
    </a>
  </div>

</div>