<div cdkDropListGroup class="row justify-content-center align-items-start no-gutters">
	<div *ngFor="let team of _scores.teams$ | async as teamList; index as ti" class="col-12">

		<div class="teamDropPad {{ team.color.name }}" id="{{ 'team-' + team.color.name }}" cdkDropList
			(cdkDropListDropped)="rosterDrop($event)" [cdkDropListData]="getPlayerList(team)">
			<team-list-item [team]="team"></team-list-item>

			<score-list-item *ngFor="let score of getPlayerList(team)" cdkDrag [cdkDragData]="score" [score]="score"
				[mode]="playerModes" backdrop="true">
			</score-list-item>
		</div>
	</div>
</div>