<app-section-header title="Chart Settings" [buttons]="backButton" (actionClick)="actionClick($event)">
</app-section-header>


<mat-tab-group mat-align-tabs="center" dynamicHeight="true">

  <!--
      <mat-tab label="Presets">
        <button>Player Scores</button>
        <button>Player Throws</button>
        <button>Team Sum</button>
        <button>Team Best</button>
        <button>Team Average</button>
      </mat-tab>
  -->

  <mat-tab>
    <ng-template mat-tab-label>
      Visibility
    </ng-template>

    <div *ngIf="data.teams.length > 0" class="col center">
      <div *ngFor="let team of data.teams; index as ti" class="teams col buttonToggle">
        <button mat-stroked-button color="transparent-primary" [style.color]='getColor(team)'
          (click)="toggleVisibility(team.name, 'add')" *ngIf="selectedColumns.indexOf(team.name) == -1">
          {{ team.name }}
        </button>

        <button mat-flat-button color="transparent-primary" [style.background]='getColor(team)'
          (click)="toggleVisibility(team.name, 'remove')" *ngIf="selectedColumns.indexOf(team.name) > -1">
          {{ team.name }}
        </button>

        <div *ngFor="let player of data.players; index as pi" class="players">
          <div *ngIf="player.team.id == team.id" class="row">
            <!--
              <div class="colorChoice">
                <div class="colorIcon {{ player.team?.color }}"></div>
              </div>
            -->

            <button *ngIf="selectedColumns.indexOf(player.user.first + ' ' + player.user.last.substr(0, 3)) == -1"
              mat-stroked-button color="transparent-primary" [style.color]='getColor(player)'
              (click)="toggleVisibility(player.user.first + ' ' + player.user.last.substr(0, 3), 'add')">
              <label>{{ player.user.first }} {{ player.user.last }}</label>
            </button>

            <button *ngIf="selectedColumns.indexOf(player.user.first + ' ' + player.user.last.substr(0, 3)) > -1"
              mat-flat-button color="transparent-primary" [style.background]='getColor(player)'
              (click)="toggleVisibility(player.user.first + ' ' + player.user.last.substr(0, 3), 'remove')">
              <label>{{ player.user.first }} {{ player.user.last }}</label>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col center" *ngIf="data.teams.length == 0">
      <div class="col center">
        <div *ngFor="let option of colList; index as i" class="buttonToggle">
          <button mat-stroked-button [style.color]='availableColors[i]' (click)="toggleVisibility(option, 'add')"
            *ngIf="selectedColumns.indexOf(option) == -1">
            <div>

            </div>
            {{ option }}
          </button>

          <button mat-flat-button [style.background]='availableColors[i]' (click)="toggleVisibility(option, 'remove')"
            *ngIf="selectedColumns.indexOf(option) > -1">
            {{ option }}
          </button>
        </div>
      </div>
    </div>

  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      Players
    </ng-template>
    <div class="small">
      <mat-label>Data</mat-label>
      <mat-select placeholder="Data" [value]="playerFormat" (selectionChange)="updateFormat($event)">
        <mat-option value="scores"> Total Scores </mat-option>
        <mat-option value="throws"> Throw Count </mat-option>
      </mat-select>
    </div>

  </mat-tab>


  <mat-tab *ngIf="data?.teams?.length > 0">
    <ng-template mat-tab-label>
      Teams
    </ng-template>
    <div class="small">
      <mat-label>Format</mat-label>
      <mat-select placeholder="Format" [value]="teamFormat" (selectionChange)="updateTeamFormat($event)">
        <mat-option value="team-avg">Team-Average</mat-option>
        <mat-option value="team-best">Team-Best</mat-option>
        <mat-option value="team-sum">Team-Sum</mat-option>
      </mat-select>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="actions">
  <a mat-raised-button color="accent" (click)="updateChart()" [disabled]="selectedColumns.length == 0">Update</a>
</div>