<app-section-header title="Chart Settings" [buttons]="backButton" (actionClick)="actionClick($event)">
</app-section-header>

<div class="row">
  <mat-select placeholder="Data" [value]="playerFormat" (selectionChange)="updateFormat($event)">
    <mat-option value="scores"> Total Scores </mat-option>
    <mat-option value="throws"> Throw Count </mat-option>
  </mat-select>
</div>

<div class="row">
  <mat-select multiple  placeholder="Visibility" [value]="colList" (selectionChange)="updatePlayers($event)">
    <mat-option *ngFor="let option of colList; index as i" [style.color]='availableColors[i]' [value]="option">
      {{ option }}</mat-option>
  </mat-select>
</div>


<div *ngIf="data?.teams?.length > 0" class="row">
  <mat-select placeholder="Format" [value]="teamFormat" (selectionChange)="updateTeamFormat($event)">
    <mat-option value="team-avg">Team-Average</mat-option>
    <mat-option value="team-best">Team-Best</mat-option>
    <mat-option value="team-sum">Team-Sum</mat-option>
  </mat-select>
</div>


<div class="actions">
  <a mat-raised-button color="accent" (click)="updateChart()">Update</a>
</div>