<div class="panel row justify-content-between align-items-center no-gutters teamPicker {{ team.color.name }}">

	<div class="col">
		<h3 class="ml"><b>{{ team.name | titlecase }}</b></h3>
	</div>


	<div class="col-xs" *ngIf="_sessionForm.admin">
		<a mat-flat-button color="transparent-primary" (click)="openSettings(team)">
			<span class="icon-edit-2"></span>
		</a>
		<a mat-flat-button color="transparent-primary" (click)="removeTeam(team)">
			<span class="icon-x"></span>
		</a>
	</div>
</div>