<div class="panel row justify-content-between align-items-center no-gutters teamPicker {{ team.color.name }}">
	<div class="col ml mat-h2">{{ team.name | titlecase }}</div>

	<div class="col-xs" *ngIf="sessions_.admin && team.name != 'Unassigned'">
		<a mat-flat-button color="transparent-primary" (click)="openSettings(team)">
			<span class="icon-edit-2"></span>
		</a>
		<a mat-flat-button color="transparent-primary" (click)="removeTeam(team)">
			<span class="icon-x"></span>
		</a>
	</div>
</div>