<!--
        <label>Members</label>
        <a mat-raised-button color="primary" 
            *ngIf="admin" 
            [disabled]="recruitCount == 0"
            (click)="viewPending()">
            <label>{{ recruitCount }} </label>
            <label *ngIf="recruitCount == 1">Request</label>
            <label *ngIf="recruitCount != 1">Requests</label>
        </a>
    -->

<app-section-header title="Members" [buttons]="headerButtons" (actionClick)="actionClick($event)">
</app-section-header>


<div *ngIf="resolve; else loader" @flyInPanelRow>
    <div class="panel row" *ngFor="let permission of permissionList$">
        <div class="col-xl">
            <label class="col-lg"> {{ permission.user.first }} {{ permission.user.last }}</label>
            <label
                [class]="permission.level == 'creator' ? 'warn' : permission.level == 'moderator' ? 'accent' : 'primary'">
                <i>{{ permission.level | titlecase }}</i>
            </label>
        </div>


        <div class="actions" *ngIf="(permission.user.id != account.user.id) && admin && permission.level != 'creator'">
            <a mat-flat-button color="primary" (click)="editMember(permission)">
                <span class="icon-settings"></span>
            </a>

            <a mat-flat-button color="warn" (click)="removeMember(permission)" >
                <span class="icon-trash-2"></span>
            </a>

        </div>
    </div>
</div>


<ng-template #loader>
    <app-feedback></app-feedback>
</ng-template>