/*
$primary-light: #506450;
$primary-dark: #222422;
*/
$primary-light: #646464;
$primary-dark: #222222;


$warn: #ffd133; 
$accent: #4FD3FF;
$info: #5a3c1e;

$font-header: 'Montserrat', sans-serif;
$font-text: 'Roboto', sans-serif;


$text-light: #fafaf0;
$text-light-fade: rgba(250, 250, 240, 0.7);

$text-dark: #1e2616;
$text-dark-fade: rgba(30, 38, 22, .7);

$c-red: #e66969;
$c-blue: #6ab9e8;
$c-green: #60df60;
$c-yellow: #d6d05d;
$c-orange: #d8a95d;
$c-purple: #9461e0;
$c-pink: #cf58c5;