@import "./theme_new.scss";

/*  CSS styling agm-map is required!
    It is really important that you define a height component `agm-map`. 
    Otherwise, you won't see a map on the page!
*/
agm-map {
  height: 500px;
}

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

html {
  font-family: $font-header;
  font-size: 28px;
}

body {
  background: $primary-dark;
  color: $text-light;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  margin: 0;
  margin-left: $ml;
  width: 100%;
}

p {
  font-family: $font-text;
  font-weight: 300;
  margin: 0;
}

label {
  display: inline-block;
  margin-bottom: 0;
}

a,
a * {
  cursor: pointer !important;
  text-decoration: none !important;
  transition: color .2s ease-out;
}

#container {
  margin-top: 3rem;
}


.sub-header {
  margin-top: 1.5em;
  margin-bottom: 0.3em;
}

.sub-text {
	font-size: .8rem;
  color: $text-light-fade;
  font-weight: 100;
	line-height: 1.2rem;
}

.color-accent {
  color: $accent;
}

.color-warn {
  color: $warn;
}

.ml {
  margin-left: $ml;
}



//  Replace w/ BootStrap
.message {
  text-align: center;
  width: 100%;
}

.message.warn {
  background: rgb(100, 100, 80);
  color: rgb(255, 210, 50);
  border: 1px solid rgba(255, 210, 50, 0.5);
}

.panel {
  position: relative;
  background: #506450;
  color: #fafaf0;
  
  margin-bottom: .2rem;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);

  //  padding: 0.2rem 0;    //  Min height negates this.
  min-height: 3rem;

}




//  BootStrap Fixes
.row {
  width: 100%;
}

.btn-lg {
  padding: .5rem 1rem !important;
}

a:hover {
  color: $accent;
}






router-outlet ~ * {
  width: 1050px;
}

.rotate {
  animation: rotate 2s infinite;
  display: block;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





table {
  width: 100%;
}

.rotate-90 {
  transform: rotate(90deg);
  display: inline-block;
}

/*      Team Color Classes      */
.colorChoice .colorIcon {
  width: 0.5em;
  display: inline-block;
}

.colorChoice, .colorIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.colorIcon.red {
  background: #e66969;
}

.colorIcon.blue {
  background: #6ab9e8;
}

.colorIcon.green {
  background: #60df60;
}

.colorIcon.yellow {
  background: #d6d05d;
}

.colorIcon.orange {
  background: #d8a95d;
}

.colorIcon.purple {
  background: #9461e0;
}

.colorIcon.pink {
  background: #cf58c5;
}

.colorIcon.white {
  background: #fff;
}

.colorIcon.light {
  background: $text-light;
}





.teamDropPad {
  padding: .2rem !important;
  border: .3rem solid;
  margin: .2rem;
  min-height: 5rem;
  min-width: 30vw;


  background: transparent !important;
  border-color: $primary-light;
  color: $primary-light;

  .cdk-drag-placeholder > * {
    border-color: $primary-light;

    .colorChoice {
      display: none;
    }
  }
}

.teamDropPad > label {
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.teamDropPad h6 {
  color: inherit;
}


.teamDropPad.red {
  color: $c-red;
  border-color: #e6696977;
  background: #e6696910 !important;

  .cdk-drag-placeholder > * {
    border-color: #e6696977;
  }
}

.teamDropPad.blue {
  color: #6ab9e8;
  border-color: #6ab9e877;
  background: #6ab9e810 !important;

  .cdk-drag-placeholder > * {
    border-color: #6ab9e877;
  }
}

.teamDropPad.green {
  color: #60df60;
  border-color: #60df6077;
  background: #60df6010 !important;

  .cdk-drag-placeholder > * {
    border-color: #60df6077;
  }
}

.teamDropPad.yellow {
  color: #d6d05d;
  border-color: #d6d05d77;
  background: #d6d05d10 !important;

  .cdk-drag-placeholder > * {
    border-color: #d6d05d77;
  }
}

.teamDropPad.orange {
  color: #d8a95d;
  border-color: #d8a95d77;
  background: #d8a95d10 !important;

  .cdk-drag-placeholder > * {
    border-color: #d8a95d77;
  }
}

.teamDropPad.purple {
  color: #9461e0;
  border-color: #9461e077;
  background: #9461e010 !important;

  .cdk-drag-placeholder > * {
    border-color: #9461e077;
  }
}

.teamDropPad.pink {
  color: #cf58c5;
  border-color: #cf58c577;
  background: #cf58c510 !important;

  .cdk-drag-placeholder > * {
    border-color: #cf58c577;
  }
}

.teamDropPad.white {
  color: #fff;
  border-color: #FFFFFF77;
  background: #FFFFFF10 !important;

  .cdk-drag-placeholder > * {
    border-color: #FFFFFF77;
  }
}


.cdk-drag-placeholder a {
  display: none;
}






.teamPicker.red:not([disabled]) {
  background: #e66969;
  color: #FFF;
}

.teamPicker.blue:not([disabled]) {
  background: #6ab9e8;
  color: #FFF;
}

.teamPicker.green:not([disabled]) {
  background: #60df60;
  color: #FFF;
}

.teamPicker.yellow:not([disabled]) {
  background: #d6d05d;
  color: #FFF;
}

.teamPicker.orange:not([disabled]) {
  background: #d8a95d;
  color: #FFF;
}

.teamPicker.purple:not([disabled]) {
  background: #9461e0;
  color: #FFF;
}

.teamPicker.pink:not([disabled]) {
  background: #cf58c5;
  color: #FFF;
}

.teamPicker.white:not([disabled]) {
  background: #fff;
  color: $primary-light;
}



.teamHeader.red:not([disabled]) {
  color: $c-red;
}

.teamHeader.blue:not([disabled]) {
  color: $c-blue;
}

.teamHeader.green:not([disabled]) {
  color: $c-green;
}

.teamHeader.yellow:not([disabled]) {
  color: $c-yellow;
}

.teamHeader.orange:not([disabled]) {
  color: $c-orange;
}

.teamHeader.purple:not([disabled]) {
  color: $c-purple;
}

.teamHeader.pink:not([disabled]) {
  color: $c-pink;
}

.teamHeader.white:not([disabled]) {
  color: #fff;
}






.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1em;
}

.scores label {
  display: block;
  text-align: center;
}

.scores:not(.Leader) label:last-of-type {
  color: rgba(240, 250, 240, 0.7);
}

.scores.Leader {
  color: rgb(255, 210, 50);
}


@media only screen and (max-width: 1100px) {
  router-outlet ~ * {
    width: 95%;
  }
}

@media only screen and (max-width: 720px) {
  router-outlet ~ * {
    min-width: 480px;
  }
}

.btn-pageAction {
  position: absolute !important;
  left: 0;
  bottom: -75%;
}
