@import "./theme_new.scss";

/*  CSS styling agm-map is required!
    It is really important that you define a height component `agm-map`. 
    Otherwise, you won't see a map on the page!
*/
agm-map {
  height: 500px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: $font-header;
  font-size: 28px;
}

body {
  background: $primary-dark;
  color: $text-light;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 2em;
}

p {
  font-family: $font-text;
  font-weight: 300;
  margin: 0;
}

label {
  display: inline-block;
  margin-bottom: 0;
}

a,
a * {
  cursor: pointer !important;
  text-decoration: none !important;
  transition: color .2s ease-out;
}




//  Replace w/ BootStrap
.message {
  text-align: center;
  width: 100%;
}

.message.warn {
  background: rgb(100, 100, 80);
  color: rgb(255, 210, 50);
  border: 1px solid rgba(255, 210, 50, 0.5);
}

.panel {
  position: relative;
  background: $primary-light;
	color: $text-light;
	padding: .3rem;
  border-radius: 3px; 
  margin-bottom: 1vh;
  // box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.sub-text {
	font-size: .8rem;
  color: $text-light-fade;
  font-weight: 100;
	line-height: 1.2rem;
}


.color-accent {
  color: $accent;
}





//  BootStrap Fixes
.row {
  width: 100%;
}

.btn-lg {
  padding: .5rem 1rem !important;
}

a:hover {
  color: $accent;
}




:host {
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  margin-top: 3em;
}

router-outlet ~ * {
  width: 1050px;
}

.rotate {
  animation: rotate 2s infinite;
  display: block;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
#loader div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader span {
  font-size: 6em;
}

#loader label {
  text-align: center;
}
*/

table {
  width: 100%;
}

.rotate-90 {
  transform: rotate(90deg);
  display: inline-block;
}

/*      Team Color Classes      */
.colorChoice .colorIcon {
  width: 0.5em;
  display: inline-block;
}

.colorChoice, .colorIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.colorIcon.red {
  background: #e66969;
}

.colorIcon.blue {
  background: #6ab9e8;
}

.colorIcon.green {
  background: #60df60;
}

.colorIcon.yellow {
  background: #d6d05d;
}

.colorIcon.orange {
  background: #d8a95d;
}

.colorIcon.purple {
  background: #9461e0;
}

.colorIcon.pink {
  background: #cf58c5;
}

.colorIcon.white {
  background: #fff;
}

.colorIcon.light {
  background: $text-light;
}


.teamPicker.red:not(:disabled),
.teamDropPad.red {
  color: #e66969;
  border-color: #e6696977;
  background: #e6696910 !important;
}

.teamPicker.blue:not(:disabled),
.teamDropPad.blue {
  color: #6ab9e8;
  border-color: #6ab9e877;
  background: #6ab9e810 !important;
}

.teamPicker.green:not(:disabled),
.teamDropPad.green {
  color: #60df60;
  border-color: #60df6077;
  background: #60df6010 !important;
}

.teamPicker.yellow:not(:disabled),
.teamDropPad.yellow {
  color: #d6d05d;
  border-color: #d6d05d77;
  background: #d6d05d10 !important;
}

.teamPicker.orange:not(:disabled),
.teamDropPad.orange {
  color: #d8a95d;
  border-color: #d8a95d77;
  background: #d8a95d10 !important;
}

.teamPicker.purple:not(:disabled),
.teamDropPad.purple {
  color: #9461e0;
  border-color: #9461e077;
  background: #9461e010 !important;
}

.teamPicker.pink:not(:disabled),
.teamDropPad.pink {
  color: #cf58c5;
  border-color: #cf58c577;
  background: #cf58c510 !important;
}

.player.white:not(:disabled),
.teamDropPad.white {
  color: #fff;
  border-color: #FFFFFF77;
  background: #FFFFFF10 !important;
}

.teamDropPad.unassigned {
  color: $text-light;
  border-color: $primary-light;
  background: $text-dark-fade;
}

.teamDropPad {
  padding: .3rem;
  border: .3rem solid;
  margin: .2rem;
  min-height: 7rem;
  min-width: 30vw;
}

.teamDropPad > label {
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1em;
}

.scores label {
  display: block;
  text-align: center;
}

.scores:not(.Leader) label:last-of-type {
  color: rgba(240, 250, 240, 0.7);
}

.scores.Leader {
  color: rgb(255, 210, 50);
}


@media only screen and (max-width: 1100px) {
  router-outlet ~ * {
    width: 95%;
  }
}

@media only screen and (max-width: 720px) {
  router-outlet ~ * {
    min-width: 480px;
  }
}

.btn-pageAction {
  position: absolute !important;
  left: 0;
  bottom: -75%;
}
