




/*
    Angular Material Font Guidelines
    
*/
h1 {
  font-size: 2rem;
  font-size: 34sp; //  Google Material Specs, Doesnt work; Refrence only.
  font-weight: 100;
}

h2 {
  font-size: 1.5rem;
  font-size: 24sp;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  font-size: 20sp;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;

  color: lighten($primary-light, 20%);
}

h6 {
  font-size: 1.2rem;
  font-weight: 600;
  color: lighten($primary-light, 20%);
}

p,
label {
  font-size: 14sp;
}

.subText {
  font-size: 12sp;
}

a,
button,
.mat-button {
  font-size: 14sp;
  font-weight: 400;
  text-transform: uppercase;
}

p i {
  color: rgba(240, 250, 240, 0.7);
}

p b {
  font-weight: 500;
}

/**
    Angular Material Fixes Here
*/
//  Dialog Theme Update
.mat-dialog-container,
.mat-select-panel,
.mat-menu-panel {
  background: $primary-light;
}



.mat-button,
.mat-menu-item {
  font-size: 20px !important;
  text-transform: uppercase;
}

.mat-checkbox-frame,
.mat-checkbox-background {
  border-radius: 0 !important;
}

.mat-simple-snackbar-container {
  margin-top: 2em;
}

.mat-fab[disabled],
.mat-mini-fab[disabled] {
  box-shadow: none !important;
}

.mat-tab-labels {
  justify-content: space-around;
}

.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
  min-width: 0 !important;
  border-radius: 0 !important;
  font-size: 1em !important;

  line-height: 2em !important;
  height: initial !important;
}

.mat-fab,
.mat-icon-button,
.mat-mini-fab {
  width: 2em !important;
  border-radius: 100% !important;
}

.mat-pseudo-checkbox {
  width: 32px !important;
  height: 32px !important;
}

.mat-pseudo-checkbox-checked::after {
  top: 4px !important;
  left: 2px !important;
  width: 18px !important;
  height: 9px !important;
}

.mat-tab-label {
  height: 2em !important;
  opacity: 1 !important;
  font-size: 1.1em !important;
}

.mat-dialog-container .headerContainer {
  margin-top: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-raised-button {
  line-height: inherit;
}

.cdk-overlay-pane {
  max-width: 95vw !important;
}

.mat-snack-bar-container {
  background: $accent;
  color: $text-light;
  margin-top: 10% !important;
  width: 100%;
  min-width: 80% !important;
  max-width: 100% !important;
  font-size: 28px !important;
}

.mat-simple-snackbar-action button {
  max-height: initial !important;
}

.mat-simple-snackbar {
  line-height: 48px !important;
  font-size: 1em;
}







.mat-step-label {
  font-size: 1rem;
}

.mat-step-label-selected {
  color: $accent !important;
}

.mat-step-icon {
  display: none;
}

.mat-tab-header {
  //  background: $primary-light;
}

.mat-tab-label-active {
  //  background: lighten($primary-light, 20%);
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
  background-color: $primary-dark;
}

.mat-vertical-stepper-header .mat-step-label {
  width: 100%;
}

.mat-vertical-stepper-content .mat-vertical-content {
  padding: 1rem 0;
}

.mat-vertical-content-container {
  margin-left: 0 !important;
}

.mat-stepper-vertical-line::before {
  border-left-color: $text-light;
}

.mat-datepicker-content {
  background: $primary-light;
}

.mat-calendar-body,
.mat-calendar-body-label,
.mat-calendar-table-header th,
.mat-calendar-period-button {
  font-size: 1rem;
}

.mat-horizontal-content-container {
  padding: 0 !important;
}

.mat-stepper-vertical-line::before {
  // border-left-color: #FAFAF0;
  border-left-color: transparent;
}

.mat-tooltip {
  font-size: 0.8rem !important;
  color: $primary-light !important;
  background: $text-light !important;
  padding: 0.5rem !important;
  font-weight: 600;
}

.mat-flat-button[disabled][disabled] {
  background: none;
}

.mat-expansion-panel {
  margin-bottom: 5px !important;
}

.mat-expansion-panel, 
.mat-expansion-panel-header:hover/*, 
.mat-step-header, 
.mat-step-header:hover */ {
  background: $primary-light !important;
}

.mat-expansion-panel-header[aria-disabled="true"] {
  color: $text-light !important;
}

.mat-expansion-indicator::after {
  border-width: 0 0.15rem 0.15rem 0 !important;
  padding: 0.2rem !important;
}

.mat-expansion-panel-header {
  font-size: 1rem !important;
}

.mat-checkbox-inner-container {
  width: 1.3rem !important;
  height: 1.3rem !important;
}

