@import "~@angular/material/theming";
@import "./colors.scss";

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
$custom-typography: mat-typography-config(
  $font-family: $font-header,
);
@include mat-core($custom-typography);

/*
$md-primary: (
  50: #e5e6e4,
  100: #bfc2bc,
  200: #94998f,
  300: #697062,
  400: #485140,
  500: #28321e,
  600: #242d1a,
  700: #1e2616,
  800: #181f12,
  900: #0f130a,
  A100: #fafaf0,
  A200: #a78a6c,
  A400: #6e4e2e,
  A700: #492e13,
  contrast: (
    50: $text-dark,
    100: $text-dark,
    200: $text-dark,
    300: $text-light,
    400: $text-light,
    500: $text-light,
    600: $text-light,
    700: $text-light,
    800: $text-light,
    900: $text-light,
    A100: $text-dark,
    A200: $text-dark,
    A400: $text-dark,
    A700: $text-dark
  )
);
*/ $md-primary: (
    50 : #fefefd,
    100 : #fefefb,
    200 : #fdfdf8,
    300 : #fcfcf5,
    400 : #fbfbf2,
    500 : $text-light,
    600 : #f9f9ee,
    700 : #f9f9ec,
    800 : #f8f8e9,
    900 : #f6f6e5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
); 

$md-accent: (
  50: #e8f4f8,
  100: #c6e4ee,
  200: #a0d2e3,
  300: #79c0d8,
  400: #5db3cf,
  500: #6ab9e8,
  600: #3a9dc1,
  700: #3293ba,
  800: #2a8ab3,
  900: #1c79a6,
  A100: #def3ff,
  A200: #abe1ff,
  A400: #78cfff,
  A700: #5ec6ff,
  contrast: (
    50: $text-dark,
    100: $text-dark,
    200: $text-dark,
    300: $text-dark,
    400: $text-light,
    500: $text-light,
    600: $text-light,
    700: $text-light,
    800: $text-light,
    900: $text-light,
    A100: $text-dark,
    A200: $text-dark,
    A400: $text-light,
    A700: $text-light
  )
);

$md-warn: (
  50: #fbf6e6,
  100: #f4e9c1,
  200: #edda97,
  300: #e6cb6d,
  400: #e0bf4e,
  500: #ffd232,
  600: #d7ad2a,
  700: #d2a423,
  800: #cd9c1d,
  900: #c48c12,
  A100: #fffbf3,
  A200: #ffeac0,
  A400: #ffd88d,
  A700: #ffd074,
  contrast: (
    50: $text-dark,
    100: $text-dark,
    200: $text-dark,
    300: $text-dark,
    400: $text-dark,
    500: $text-dark,
    600: $text-dark,
    700: $text-dark,
    800: $text-dark,
    900: $text-dark,
    A100: $text-dark,
    A200: $text-dark,
    A400: $text-dark,
    A700: $text-dark
  )
);

// mandatory stuff for theming
$dgc-primary: mat-palette($md-primary);
$dgc-accent: mat-palette($md-accent);
$dgc-warn: mat-palette($md-warn);

// include the custom theme components into a theme object
$dgc-theme: mat-dark-theme($dgc-primary, $dgc-accent, $dgc-warn);

// include the custom theme object into the angular material theme
@include angular-material-theme($dgc-theme);




/**
    Angular Material Fixes Here
*/
//  Dialog Theme Update
.mat-dialog-container, .mat-select-panel, .mat-menu-panel {
  background: $primary-light;
}

//  Extra Colors
.mat-light {
  background: $text-light;
  color: $primary-light;
}

.mat-transparent-primary {
  background: transparent;
  color: $text-light;
}

.mat-transparent-accent {
  background: transparent;
  color: #6ab9e8;
}

.mat-transparent-warn {
  background: transparent;
  color: #ffd232;
}

.mat-button {
  font-size: 20px !important;
  text-transform: uppercase;
}

.mat-checkbox-frame,
.mat-checkbox-background {
  border-radius: 0 !important;
}

.mat-simple-snackbar-container {
  margin-top: 2em;
}

.mat-fab[disabled],
.mat-mini-fab[disabled] {
  box-shadow: none !important;
}

.mat-tab-labels {
  justify-content: space-around;
}



.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
  font-size: initial;
  min-width: 0 !important;
  border-radius: 0 !important;
  font-size: 1em !important;
}


.mat-pseudo-checkbox {
  width: 32px !important;
  height: 32px !important;
}

.mat-pseudo-checkbox-checked::after {
  top: 4px !important;
  left: 2px !important;
  width: 18px !important;
  height: 9px !important;
}

.mat-tab-label {
  height: 2em !important;
  opacity: 1 !important;
  font-size: 1.1em !important;
}

.mat-dialog-container .headerContainer {
  margin-top: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-raised-button {
  line-height: 2em !important;
}

.cdk-overlay-pane {
  max-width: 95vw !important;
}

.mat-snack-bar-container {
  background: $accent;
  color: $text-light;
  margin-top: 10% !important;
  width: 100%;
  min-width: 80% !important;
  max-width: 100% !important;
  font-size: 28px !important;
}

.mat-simple-snackbar-action button {
  max-height: initial !important;
}

.mat-simple-snackbar {
  line-height: 48px !important;
  font-size: 1em;
}

.mat-form-field {
  width: 100%;
}

.mat-raised-button.mat-primary:not(.disabled),
.mat-mini-fab.mat-primary:not(.disabled) {
  color: rgb(80, 100, 80) !important;
}

.mat-button.disabled,
.mat-raised-button.disabled {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.4);
}
