@import "~@angular/material/theming";
@import "./colors.scss";

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
$custom-typography: mat-typography-config(
  $font-family: $font-header
);
@include mat-core($custom-typography);

/*
$md-primary: (
  50: #e5e6e4,
  100: #bfc2bc,
  200: #94998f,
  300: #697062,
  400: #485140,
  500: #28321e,
  600: #242d1a,
  700: #1e2616,
  800: #181f12,
  900: #0f130a,
  A100: #fafaf0,
  A200: #a78a6c,
  A400: #6e4e2e,
  A700: #492e13,
  contrast: (
    50: $text-dark,
    100: $text-dark,
    200: $text-dark,
    300: $text-light,
    400: $text-light,
    500: $text-light,
    600: $text-light,
    700: $text-light,
    800: $text-light,
    900: $text-light,
    A100: $text-dark,
    A200: $text-dark,
    A400: $text-dark,
    A700: $text-dark
  )
);
*/
$md-primary: (
  50: #fefefd,
  100: #fefefb,
  200: #fdfdf8,
  300: #fcfcf5,
  400: #fbfbf2,
  500: $text-light,
  600: #f9f9ee,
  700: #f9f9ec,
  800: #f8f8e9,
  900: #f6f6e5,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: $primary-dark,
    100: $primary-dark,
    200: $primary-dark,
    300: $primary-dark,
    400: $primary-dark,
    500: $primary-dark,
    600: $primary-dark,
    700: $primary-dark,
    800: $primary-dark,
    900: $primary-dark,
    A100: $primary-dark,
    A200: $primary-dark,
    A400: $primary-dark,
    A700: $primary-dark
  )
);

$md-accent: (
  50: #e8f4f8,
  100: #c6e4ee,
  200: #a0d2e3,
  300: #79c0d8,
  400: #5db3cf,
  500: $accent,
  600: #3a9dc1,
  700: #3293ba,
  800: #2a8ab3,
  900: #1c79a6,
  A100: #def3ff,
  A200: #abe1ff,
  A400: #78cfff,
  A700: #5ec6ff,
  contrast: (
    50: $text-dark,
    100: $text-dark,
    200: $text-dark,
    300: $text-dark,
    400: $text-light,
    500: $text-light,
    600: $text-light,
    700: $text-light,
    800: $text-light,
    900: $text-light,
    A100: $text-dark,
    A200: $text-dark,
    A400: $text-light,
    A700: $text-light
  )
);

$md-warn: (
  50: #fbf6e6,
  100: #f4e9c1,
  200: #edda97,
  300: #e6cb6d,
  400: #e0bf4e,
  500: $warn,
  600: #d7ad2a,
  700: #d2a423,
  800: #cd9c1d,
  900: #c4b18a,
  A100: #fffbf3,
  A200: #ffeac0,
  A400: #ffd88d,
  A700: #ffd074,
  contrast: (
    50: $text-dark,
    100: $text-dark,
    200: $text-dark,
    300: $text-dark,
    400: $text-dark,
    500: $text-dark,
    600: $text-dark,
    700: $text-dark,
    800: $text-dark,
    900: $text-dark,
    A100: $text-dark,
    A200: $text-dark,
    A400: $text-dark,
    A700: $text-dark
  )
);

// mandatory stuff for theming
$dgc-primary: mat-palette($md-primary);
$dgc-accent: mat-palette($md-accent);
$dgc-warn: mat-palette($md-warn);

// include the custom theme components into a theme object
$dgc-theme: mat-dark-theme($dgc-primary, $dgc-accent, $dgc-warn);

// include the custom theme object into the angular material theme
@include angular-material-theme($dgc-theme);

/*
    Angular Material Font Guidelines
    
*/
h1 {
  font-size: 2rem;
  font-size: 34sp;    //  Google Material Specs, Doesnt work; Refrence only.
  font-weight: 100;
}

h2 {
  font-size: 1.5rem;
  font-size: 34sp;
  font-size: 24sp;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  font-size: 20sp;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;

  color: lighten($primary-light, 20%);
}

h6 {
  font-size: 1.2rem;
  font-weight: 600;
  color: lighten($primary-light, 20%);
}

p,
label {
  font-size: 14sp;
}

.subText {
  font-size: 12sp;
}

a,
button,
.mat-button {
  font-size: 14sp;
  font-weight: 400;
  text-transform: uppercase;
}

p i {
  color: rgba(240, 250, 240, 0.7);
}

p b {
  font-weight: 500;
}

/**
    Angular Material Fixes Here
*/
//  Dialog Theme Update
.mat-dialog-container,
.mat-select-panel,
.mat-menu-panel {
  background: $primary-light;
}

//  Extra Colors
.mat-light {
  background: $text-light;
  color: $primary-light;
}

.mat-transparent-primary:not(:disabled) {
  background: transparent;
  color: $text-light;
}

.mat-transparent-accent:not(:disabled) {
  background: transparent;
  color: $accent;
}

.mat-transparent-warn:not(:disabled) {
  background: transparent;
  color: $warn;
}

.mat-button,
.mat-menu-item {
  font-size: 20px !important;
  text-transform: uppercase;
}

.mat-checkbox-frame,
.mat-checkbox-background {
  border-radius: 0 !important;
}

.mat-simple-snackbar-container {
  margin-top: 2em;
}

.mat-fab[disabled],
.mat-mini-fab[disabled] {
  box-shadow: none !important;
}

.mat-tab-labels {
  justify-content: space-around;
}

.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
  min-width: 0 !important;
  border-radius: 0 !important;
  font-size: 1em !important;

  line-height: 2em !important;
  height: initial !important;
}

.mat-fab,
.mat-icon-button,
.mat-mini-fab {
  width: 2em  !important;
  border-radius: 100%  !important;
}


.mat-pseudo-checkbox {
  width: 32px !important;
  height: 32px !important;
}

.mat-pseudo-checkbox-checked::after {
  top: 4px !important;
  left: 2px !important;
  width: 18px !important;
  height: 9px !important;
}

.mat-tab-label {
  height: 2em !important;
  opacity: 1 !important;
  font-size: 1.1em !important;
}

.mat-dialog-container .headerContainer {
  margin-top: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-raised-button {
  line-height: inherit;
}

.cdk-overlay-pane {
  max-width: 95vw !important;
}

.mat-snack-bar-container {
  background: $accent;
  color: $text-light;
  margin-top: 10% !important;
  width: 100%;
  min-width: 80% !important;
  max-width: 100% !important;
  font-size: 28px !important;
}

.mat-simple-snackbar-action button {
  max-height: initial !important;
}

.mat-simple-snackbar {
  line-height: 48px !important;
  font-size: 1em;
}

.mat-form-field {
  width: 100%;
}

.mat-raised-button.mat-primary:not(.disabled),
.mat-mini-fab.mat-primary:not(.disabled) {
  color: rgb(80, 100, 80) !important;
}

.mat-button.disabled,
.mat-raised-button.disabled {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.4);
}


.mat-step-label {
  font-size: 1rem;

}

.mat-step-label-selected {
  color: $accent !important;
}

.mat-step-icon {
  display: none;
}

.mat-tab-header {
  background: $primary-light;
}

.mat-tab-label-active {
  background: lighten($primary-light, 20%);
}



.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: $primary-dark;
}

.mat-vertical-stepper-header .mat-step-label {
  width: 100%;
}

.mat-vertical-stepper-content .mat-vertical-content {
  padding: 1rem 0;
}

.mat-vertical-content-container {
  margin-left: 0 !important;
}

.mat-stepper-vertical-line::before {
  border-left-color: $text-light;
}


.mat-datepicker-content {
  background: $primary-light;
}

.mat-calendar-body,
.mat-calendar-body-label,
.mat-calendar-table-header th,
.mat-calendar-period-button {
  font-size: 1rem;
}

.mat-horizontal-content-container {
  padding: 0 !important;

}

.mat-stepper-vertical-line::before {
  // border-left-color: #FAFAF0;
  border-left-color: transparent;
}

.mat-tooltip {
  font-size: .8rem !important;
  color: $primary-light !important;
  background: $text-light !important;
  padding: .5rem !important;
  font-weight: 600;
}

.mat-flat-button[disabled][disabled] {
  background: none;
}



.mat-expansion-panel {
  margin-bottom: 5px  !important;
}

.mat-expansion-panel, 
.mat-expansion-panel-header:hover/*, 
.mat-step-header, 
.mat-step-header:hover */ {
  background: $primary-light  !important;
}

.mat-expansion-panel-header[aria-disabled=true] {
  color: $text-light !important;
}


.mat-expansion-indicator::after {
  border-width: 0 .15rem .15rem 0 !important;
  padding: .2rem !important;
}

.mat-expansion-panel-header {
  font-size: 1rem !important;
}



// CDK-Drag-Drop
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}



.cdk-drag-placeholder > * {
  border: 0.3rem dotted;
  background: transparent !important;
  color: transparent !important;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-item:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}




//  Time Picker
.timepicker {
  width: 60vw !important;
}

.timepicker__header {
  background: $primary-light !important;
}

.timepicker-dial__container {
  justify-content: center !important;
}

.timepicker__body {
  background: $primary-light !important;
}

.timepicker__actions {
  background: $primary-light !important;
  justify-content: space-between !important;  
}

.timepicker-button {
  font-size: 1rem !important;
  line-height: 2rem !important;
  color: $text-light !important;
  height: initial !important;
}

.timepicker-button span {
  font-size: inherit !important;
}


.clock-face {
  width: 50vw !important;
  height: 50vw !important;
}

.clock-face__number--outer {
  height: calc(50vw / 2 - 20px) !important;
}

.clock-face__number > span {
  font-size: 1.2rem !important;
}

.clock-face__clock-hand {
  height: 20vw !important;
  width: 3px !important;
  top: calc(50% - 20vw) !important;
}

.clock-face__number {
  width: 8vw !important;
}

.clock-face__number > span {
  width: 8vw !important;
  height: 8vw !important;
}

.clock-face {
  background: $text-light !important;
}

.timepicker-period {
  flex-direction: row !important;
  margin-left: 1em !important;
}



.timepicker-period__btn {
  font-size: 1.5rem !important;
}

/*

New Input Styles

*/
.mat-form-field.mat-focused .mat-form-field-prefix {
  color: $accent;
}

.mat-form-field-invalid .mat-form-field-prefix {
  color: $warn;
}

.mat-form-field-prefix {
  font-style: italic;
  margin-right: 1em;

  color: $text-light-fade;
  min-width: 20%;
  text-align: right;
}

*:disabled {
  background-color: transparent;
}


.mat-flat-button[disabled] {
  background-color: transparent;
}

/*
  Google Places
*/
.pac-container {
  background: $primary-light;
  color: $text-light-fade;
}

.pac-item {
  font-size: 0.8rem;
  color: $text-light-fade;
  line-height: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5em;
}

.pac-item-query {
  font-size: 1.2rem;
  line-height: 1.3em;
  color: $text-light;
}

.pac-icon {
  display: none;
}

.pac-matched {
}


/*
  BootStrap Fixes
*/
.btn-link {
  color: $accent
}
