<app-section-header title="stats" [buttons]="headerButtons" (actionClick)="actionClick($event)"></app-section-header>

<div class="full-center-content {{ orientation }}">
  <google-chart #chart [title]="title" [type]="type" [data]="chartData" [columnNames]="columnNames" [options]="options"
    [width]="width" [height]="height">
  </google-chart>


  <!--

     <div class="chartOptions">
    <h2>Toggle Display</h2>
    <div *ngFor="let option of colList; index as i">
      <mat-checkbox (change)="filterData($event)" *ngIf="i > 0" [value]="option" selected="selected"
        [style.color]='availableColors[i]'>
        {{ option }}
      </mat-checkbox>
    </div>

  </div>
  -->

</div>