<div class="row justify-content-between align-items-start no-gutters">
  <div class="col-4">
    <mat-form-field>
      <mat-label></mat-label>
      <mat-select [(value)]="selectedList" (selectionChange)="selectChange($event)">
        <mat-option *ngFor="let list of lists" [value]="list"
          [disabled]='(list.name == "favorites" || list.name == "recient") && !_account.user'>
          {{ list.name | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="search" class="col-7">
    <form [formGroup]="form">
      <mat-form-field floatLabel="never">

        <div matPrefix>
          <a mat-flat-button color="transparent-primary">
            <span class="icon-search"></span>
          </a>
        </div>

        <input matInput formControlName="search" placeholder="Park or Address"/>

        <div matSuffix class="row justify-content-end align-items-center no-gutters">
          <div *ngIf='feed.loading'>
            <loader small='true'></loader>
          </div>
          <!-- div>
            <a mat-flat-button color="transparent-primary" (click)="toggleSearch()"><span class="icon-x"></span></a>
          </div -->
        </div>
      </mat-form-field>
    </form>
  </div>


  <div class="col-xs mt-2" *ngIf="!search && options.list.length > 0">
    <a *ngIf="options.list.indexOf('search') > -1" mat-flat-button color="transparent-primary" (click)="toggleSearch()">
      <span class="icon-search"></span>
    </a>

    <a *ngIf="options.list.indexOf('create') > -1" mat-flat-button color="transparent-primary" routerLink="/courses/create">
      <span class="icon-plus-circle"></span>
    </a>
  </div>
</div>


<div *ngIf="selectedList.obs | async as courseList; else loader">
  <div *ngIf="courseList.length; else error" @flyIn>
    <course-list-item *ngFor="let course of courseList; trackBy: trackBy" [course]="course" [mode]="options.row">
    </course-list-item>
  </div>


</div>

<ng-template #loader>
  <loader></loader>
</ng-template>

<ng-template #error>
    <feedback *ngIf="feed.error"></feedback>
</ng-template>

<ng-template #none>
  <div class="message">
    <p><i>No items returned</i></p>
  </div>
</ng-template>

