<div>
  <div class="headerContainer">
    <h1>
      <label>Courses</label>
    </h1>
  </div>

  <div *ngFor="let course of courseList">
    <div class="panel row" @flyInPanelRow>
      <div class="col">
        <label>{{ course.name }}</label>
        <div class="subText row">
          <label><i>{{ course.parkName }} </i></label>
          <label><i>{{ course.city }}, </i></label>
          <label><i>{{ course.state }} </i></label>
          <label><i>{{ course.zip }}</i></label>
        </div>
      </div>

      <div>
        <a mat-flat-button color="primary" routerLink="/courses/{{ course.id }}">
          <span class="icon-external-link"></span>
        </a>
      </div>
    </div>

  </div>


  <div class="actionPanel">
    <p>Looking for a Course that isnt listed? Search for one!</p>
    <div class="actions">
      <a mat-raised-button color="primary" routerLink="/courses/search">
        Search
      </a>
    </div>
  </div>

</div>