<app-section-header title="Courses"></app-section-header>

<div *ngIf="resolve; else loader" @flyInPanelRow>
  <div *ngFor="let course of courseList" class="panel">
    <div class="col">
      <div class="row">
        <label>{{ course.name }}</label>
        <div>
          <a mat-flat-button color="primary" routerLink="/courses/{{ course.id }}">
            <span class="icon-external-link"></span>
          </a>
        </div>
      </div>
      <div class="row">

        <div class="subText row">
          <label><i>{{ course.parkName }} </i></label>
          <label><i>{{ course.city }}, </i></label>
          <label><i>{{ course.state }} </i></label>
          <label><i>{{ course.zip }} </i></label>
        </div>
      </div>

    </div>
  </div>



  <div class="actionPanel">
    <p>Looking for a Course that isnt listed? Search for one!</p>
    <div class="actions">
      <a mat-raised-button color="primary" routerLink="/courses/search">
        Search
      </a>
    </div>
  </div>

</div>


<ng-template #loader>
  <app-feedback></app-feedback>
</ng-template>