<div class="row justify-content-between align-items-center no-gutters">
	<div class="col mat-caption">Player Settings</div>

	<div class="col-xs">
		<a mat-flat-button color="transparent-primary" (click)="close(false)">
			<span class="icon-x"></span>
		</a>
	</div>
</div>

<div class="m-3">
	<form [formGroup]="form">
		<mat-form-field>
			<mat-label matPrefix class="mr-3">Handicap</mat-label>
			<input matInput formControlName="handicap" placeholder="x">
			<span matSuffix class="icon-shield accent"></span>
		</mat-form-field>
	</form>

</div>

<div class="row justify-content-end align-items-center no-gutters">
	<a mat-flat-button color="primary" class="btn btn-lg" [disabled]="!formCheck()" (click)="save()">
		Save
	</a>
</div>