<app-section-header title="Set Password" [buttons]="headerButtons" (actionClick)="actionClick($event)">
</app-section-header>

<div *ngIf="!feed.loading; else loader">


  <form [formGroup]="form">

    <!--  Password  -->
    <form-password inputType="password" [control]="form.get('password')"></form-password>

    <!--  Confirmation  -->
    <form-password inputType="confirm" submitOnEnter="true" [control]="form.get('conf')"></form-password>

  </form>

  <feedback></feedback>

  <div class="row no-gutters justify-content-stretch align-items-center mt-2">
    <a mat-raised-button color="primary" class="btn btn-lg btn-block" [disabled]="!accountForm.ReadyForSubmission()"
      (click)="onFormSubmit()">
      <label>Update Password</label>
    </a>
  </div>
</div>


<ng-template #loader>
  <loader></loader>
</ng-template>