<h1>
  <label>Edit Team</label>
  <a mat-icon-button (click)="close()">
    <span class="icon-x"></span>
  </a>
</h1>

<form [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Team Name" />
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="color" placeholder="Pick a Color">
      <mat-option *ngFor="let color of colorList" [value]="color" [disabled]="!color.available">
        <div class="colorChoice">
          <div class='colorIcon {{ color.name }}'></div>
          <label>{{ color.name | titlecase }}</label>
        </div>
      </mat-option>

    </mat-select>

  </mat-form-field>

</form>

<div class="actions">
  <div class="row">
    <a mat-raised-button color="primary" (click)="updateTeam()" [disabled]="form.invalid || form.pristine">
      Update Team
    </a>
  </div>

</div>