<div [@flyInPanelRow]>

  <div class="headerContainer small">
    <h1>
      <label>Account</label>
      <a mat-button (click)="logout()">
        <label>Logout</label>
      </a>
    </h1>
  </div>

  <div class="panel small">
    <form *ngIf="account.user; else notFound">
      <mat-form-field>
        <input matInput placeholder="First Name" disabled value="{{ account.user.first }}">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" disabled value="{{ account.user.last }}">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" disabled value="{{ account.user.email }}">
      </mat-form-field>

      <div class="actions">
        <div class="row">
          <a mat-raised-button color="primary" routerLink="/account/update">
            <label>Update</label>
          </a>

          <a mat-raised-button color="primary" routerLink="/account/reset">
            <label>Reset Pass</label>
          </a>
        </div>
      </div>

    </form>

    <ng-template #notFound>
      <p>There was an error retrieving your account information</p>
    </ng-template>
  </div>
</div>