<app-section-header title="Create a Course" back="true"></app-section-header>


<div>
  <p class="message">Pick a method:</p>


  <div class="row justify-content-between align-items-center no-gutter">

    <a mat-flat-button color="transparent-primary" class="btn-card col">
      <span class="icon-edit"></span>
      <label>Manual</label>
    </a>

    <a mat-flat-button color="transparent-primary" class="btn-card col">
      <span class="icon-map-pin"></span>
      <label>Automatic</label>
    </a>
  </div>

  <app-map ></app-map>
</div>