<div class="headerContainer">
  <h1>
    <label>Remove Member</label>
    <a mat-icon-button (click)="close()">
      <span class="icon-x"></span>
    </a>
  </h1>
</div>

<div class="message">
  <p *ngIf="deleteConfirm" class="warn">Please confirm deletion. This will remove the user from this league.</p>
</div>


<!--  After Delete Confirm  -->
<div class="row" *ngIf="recruit.level != 'creator'">
  <div>
    <label>{{ recruit.user.first }} {{ recruit.user.last }}</label>
  </div>

  <a mat-raised-button color="primary" (click)="toggleDelete()" *ngIf="!deleteConfirm">
    <label>Delete</label>
  </a>

  <a mat-raised-button color="warn" (click)="delete(recruit)" *ngIf="deleteConfirm">
    <label>Remove</label>
  </a>

</div>