<div class="head row justify-content-between align-items-center no-gutters mb-4" @flyIn>

    <!--    Home & Logo    -->
    <a class="col-3 text-left pl-3" mat-button color="primary" routerLink="/">
        <h1 class='ml-0 logo'>DGC</h1>
    </a>
 


    <div class="col">
        <!--    BreadCrumbs     -->
        <!--    Current Route   -->
        <div *ngFor="let path of paths; index as i">
            <div *ngIf="path != 'home'" class="row justify-content-start align-items-center no-gutters">
                <a *ngIf="i == 0" routerLink="{{ '/' + path }}" mat-flat-button
                    color="transparent-primary">{{ path | titlecase }}</a>
                <a *ngIf="i != 0 && path.length < 35" mat-flat-button
                    color="transparent-primary">{{ path | titlecase }}</a>

                <div *ngIf="i == 0">
                    <!--    Other Main Routes    -->
                    <a mat-flat-button color="transparent-primary" [matMenuTriggerFor]="navMenu" yPosition="below"
                        xPosition="before"><span class="icon-chevron-down"></span>
                        <mat-menu #navMenu="matMenu">
                            <a routerLink="/courses" *ngIf="path != 'courses'" mat-flat-button
                                color="transparent-primary">Courses</a>
                            <a routerLink="/sessions" *ngIf="path != 'sessions'" mat-flat-button
                                color="transparent-primary">Sessions</a>
                            <a routerLink="/account" *ngIf="path != 'account'" mat-flat-button
                                color="transparent-primary">Account</a>
                        </mat-menu>
                    </a>

                </div>
            </div>


        </div>
    </div>

    <div class="col-1">
        <!--    Account     -->
        <a mat-flat-button routerLink="/account" color="transparent-primary">
            <span class="icon-user"></span>
        </a>
    </div>


</div>


<div id="container" class="container" [@flyIn]="getRoute(route)">
    <router-outlet #route="outlet"></router-outlet>
</div>