<div class="head row justify-content-start align-items-center no-gutters flex-nowrap mb-4" @flyIn>
    <div class="col-3">
        <a mat-button color="primary" routerLink="/">
            <h1 class='ml-0'>DGC</h1>
        </a>
    </div>


    <div class="col" *ngIf="crumbs">
        

        <div class="row justify-content-between align-items-center no-gutters">

            <a mat-flat-button routerLink="/courses" color="transparent-primary" routerLinkActive="color-warn">Courses</a>

            <a mat-flat-button routerLink="/sessions" color="transparent-primary" routerLinkActive="color-warn">Sessions</a>

            <a mat-flat-button routerLink="/account/login" color="transparent-primary" routerLinkActive="color-warn"
                *ngIf="!account.user?.id">Login</a>

            <a mat-flat-button routerLink="/account" color="transparent-primary" routerLinkActive="color-warn"
                *ngIf="account.user?.id">Account</a>
        </div>

    </div>

</div>


<div id="container" class="container" [@flyIn]="getRoute(route)">
    <router-outlet #route="outlet"></router-outlet>
</div>