<div class="warn row justify-content-start align-items-center no-gutters" *ngIf="!feed.loading; else loader">


  <div *ngIf="feed.error">
    <div *ngIf="feed.attempts < 4; else later" class="col message text-center">
      <span class="mat-display-3 icon-alert-triangle"></span>
      <p class="mat-headline">
        {{ feed.errorMsg }}
      </p>
    </div>
  </div>
  

</div>


<ng-template #loader>
  <loader></loader>
</ng-template>

<ng-template #later>
  <p class="mat-headline message mb-0">
    Something is wrong, try again later.
  </p>
</ng-template>