.row {
    min-height: 5vh;
    display: flex;
    flex-direction: row;
}


.buttonToggle {
    margin-top: .5em;
    width: 100%;
}

.players {
    width: 80%;
    margin: 0 auto;
}

.buttonToggle > div > div {
    width: 100%;
}

.buttonToggle button {
    width: 100%;
    margin: 0 auto;
}

.col.center {
    justify-content: stretch;
    align-items: center;
}

.teams {
    margin-top: 2em;
}

/*  Move    */
.actions {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

