<h1>
  <label>Add a Temporary Player</label>
  <a mat-icon-button (click)="close()">
    <span class="icon-x"></span>
  </a>
</h1>

<div class="message">
  <p>Add an user that does not have an account. Once they register, you will be able to merge this temporary account
    with their actual account.</p>
</div>

<!--  First Name  /!-->
<form [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="First Name">
  </mat-form-field>
</form>



<div class="actions">
  <div class="row">
    <a mat-raised-button color="primary" 
      (click)="addTemporaryPlayer()"
      [disabled]="form.invalid || form.pristine">
      <label>Add</label>
    </a>
  </div>
</div>