<!--    Heading   -->
<div class="small">
  <app-section-header title="Unauthorized Access"></app-section-header>

  <div class="panel">

    <div *ngIf="pending">
      <p class="message">You already have a request to join this league.</p>
    </div>

    <div *ngIf="!pending">
      <p class="message">You are not a member of this league. To submit a request to join it, click the button below.
      </p>

      <div class="actions">
        <div class='row'>
          <a mat-raised-button color="primary" (click)="joinRequest()">Request to Join</a>
        </div>
      </div>
    </div>

  </div>

</div>