<mat-form-field>
  <mat-label matPrefix>{{ inputType | titlecase }}</mat-label>

  <input matInput [formControl]="control" [type]="textType" (keyup.enter)="sendSubmitEvent()">

  <a matSuffix mat-flat-button color="transparent-primary" 
    (mouseleave)="showPassword(false)"
    (click)="showPassword(textType == 'password' ? true : false)">
    <span [class]="textType == 'password' ? 'icon-eye' : 'icon-eye-off'"></span>
  </a>


  <mat-error *ngIf="control.dirty && control.invalid">
    <label>Invalid Password</label>
    <label *ngIf="control.hasError('matchOld')">: Cannot match your old password</label>
    <label *ngIf="control.hasError('same')">: Passwords need to match</label>
  </mat-error>

</mat-form-field>