<form [formGroup]="form">
  <mat-form-field>
    <mat-label matPrefix>Search</mat-label>
    <input matInput formControlName="search" placeholder="Park Name, City, or State" />
    <mat-error *ngIf="form.get('search').invalid && form.get('search').touched">
      Invalid Search Criteria
    </mat-error>
    <div matSuffix *ngIf='feed.loading'>
      <loader small='true'></loader>
    </div>
  </mat-form-field>
</form>

<div *ngIf="results | async as courseList;">
  <div *ngIf="courseList.length; else none" [@flyIn]>
    <course-list-item  *ngFor="let course of courseList" [course]="course" mode="list" mode="selector">
    </course-list-item>
  </div>
</div>

<ng-template #none>
  <div class="message">
    <p><i>No items returned</i></p>
  </div>
</ng-template>