<app-section-header title="Search Courses" back="true"></app-section-header>

<p class="message">
  All the available courses are listed on the previous page. You can submit the data to add a course by sending the
  following information to <a mat-flat-button color="transparent-accent">admin@BrandonSlotty.com</a>
</p>


<app-section-header title="Course Information"></app-section-header>
<ul>
  <li>Name</li>
  <li>Park Name</li>

  <li>City</li>
  <li>State</li>
  <li>Zip</li>
  <li>Google Maps Link. <i>Pin the Parking lot or Hole 1</i></li>
  <li>Amount of Holes</li>
</ul>

<p>Thank you!</p>