<div>
  <h1>
    <label>Merge Player</label>

    <a mat-icon-button color="primary" (click)="close()">
      <span class="icon-x"></span>
    </a>

  </h1>

  <div class="message">
    <p>This will allow you to merge a temporary user with an existing user.</p>
  </div>

  <form [formGroup]="form">

    <mat-form-field>
      <mat-select placeholder="Temporary Player" formControlName="temp">
        <mat-option *ngFor="let player of tempUsersList" [value]="player">
          {{ player.user.first }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Member" formControlName="existing">
        <mat-option *ngFor="let player of availablePlayers" [value]="player">
          {{ player.user.first }} {{ player.user.last }}
        </mat-option>
      </mat-select>
    </mat-form-field>




  </form>



  <!--    Actions    -->
  <div class="actions">
    <div class="row">
      <button mat-raised-button color="primary" (click)="mergePlayers()" [disabled]="form.invalid || form.pristine">
        <label>Merge</label>
      </button>
    </div>
  </div>