<div class="row justify-content-between align-items-end no-gutters">
    <div class="col">
        <h5>Courses</h5>
    </div>

    <div class="col-xs">
        <a mat-flat-button color="transparent-primary" routerLink="/courses/search">
            <span class="icon-search"></span>
        </a>
    </div>

</div>

<div *ngIf="topCourses | async as courseList; else loader" >
    <div *ngIf="courseList.length; else none" @flyIn>
        <course-list-item *ngFor="let course of courseList" [course]="course" mode="list"></course-list-item>
    </div>
</div>


<div *ngIf="account.user">
    <app-course-list type="Favorites"></app-course-list>
    <app-course-list type="Recient"></app-course-list>
</div>



<ng-template #loader>
    <loader></loader>
</ng-template>


<ng-template #none>
    <div class="message">
        <p><i>No items returned</i></p>
    </div>
</ng-template>