<!--    Form    -->
<form [formGroup]="form">

  <!--  First   -->
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName='first'>
    <mat-error *ngIf="
    form.get('first').touched && 
    form.get('first').invalid">
      Invalid First Name
    </mat-error>
  </mat-form-field>

  <!--  Last   -->
  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName='last'>
    <mat-error *ngIf="
    form.get('last').touched && 
    form.get('last').invalid">
      Invalid Last Name
    </mat-error>
  </mat-form-field>

  <!--  Email  -->
  <mat-form-field>
    <input matInput placeholder="Email" formControlName='email'>
    <mat-error *ngIf="
    form.get('email').touched && 
    form.get('email').invalid">
      Invalid Email
    </mat-error>
  </mat-form-field>

  <div class="row no-gutters justify-content-stretch align-items-center mt-3">
    <a mat-raised-button color="primary" (click)="onFormSubmit()"
        class="btn btn-block"
        [disabled]="form.pristine || form.invalid">
      <label>Update Account</label>
    </a>
  </div>


</form>