<app-section-header title="Scorecard" back="true"></app-section-header>


<div *ngIf="resolve; else loader">
  <!--  Hole  -->
  <div class="panel row warn" @flyInPanelRow>
    <div>
      <label>Hole </label>
    </div>
    <div class="scores">

      <a mat-flat-button color="transparent-primary" (click)="decHole(row)" [disabled]="tabIndex <= 1">
        <span class="icon-minus"></span>
      </a>

      <label [@scorecardSlide]="tabIndex">{{ tabIndex }}</label>

      <a mat-flat-button color="transparent-primary" (click)="incHole(row)" [disabled]="tabIndex >= 18">
        <span class="icon-plus"></span>
      </a>
    </div>

  </div>


  <!--  Par   -->
  <div class="panel row warn" @flyInPanelRow>
    <div>
      <label>Par</label>
    </div>


    <div class="scores">
      <a mat-flat-button color="transparent-primary" (click)="decPar()" [disabled]="session.par[tabIndex-1] == 1">
        <span class="icon-minus"></span>
      </a>

      <label [@scorecardSlide]="tabIndex">{{ session.par[tabIndex-1] }}</label>

      <a mat-flat-button color="transparent-primary" (click)="incPar()">
        <span class="icon-plus"></span>
      </a>
    </div>

  </div>


  <!--  Players   -->
  <div class="panel row" @flyInPanelRow *ngFor="let player of playerList">

    <div class="row">
      <div class="colorChoice" *ngIf="player?.team.id != null">
        <div class="colorIcon {{ player.team?.color }}"></div>
      </div>
      <label *ngIf="player.user.last == 'temp'"> {{ player.user.first }} </label>
      <label *ngIf="player.user.last != 'temp'"> {{ player.user.first }} {{ player.user.last }} </label>
    </div>



    <div class="scores {{ player.spread }}">
      <div>
        <label [@scorecardSlide]="player.score"> {{ player.score }} </label>
      </div>

      <a mat-flat-button color="transparent-primary" (click)="decThrow(player)"
        [disabled]="player.throws[tabIndex-1] == 1">
        <span class="icon-minus"></span>
      </a>

      <label>{{ player.throws[tabIndex-1] }}</label>

      <a mat-flat-button color="transparent-primary" (click)="incThrow(player)">
        <span class="icon-plus"></span>
      </a>
    </div>

  </div>


  <div class="actions">
    <div class="row">
      <a mat-raised-button color="primary" (click)="saveRoster()">
        <label>Save</label>
      </a>
    </div>
  </div>
</div>





<ng-template #loader>
  <loader></loader>
</ng-template>


<!--
    <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let row"> {{ row.user.first }} {{ row.user.last | firstChar }} </td>
      <td mat-footer-cell *matFooterCellDef>
        <label>Par</label>
      </td>
    </ng-container>

    <ng-container matColumnDef="throws">
      <th mat-header-cell *matHeaderCellDef>
        <div class="row">
          <a mat-mini-fab (click)="decHole(row)" [disabled]="tabIndex <= 0">
            <span class="icon-minus"></span>
          </a>

          <label *ngIf="tabIndex == 0">Score</label>
          <label *ngIf="tabIndex != 0">Hole {{ tabIndex }}</label>

          <a mat-mini-fab (click)="incHole(row)" [disabled]="tabIndex >= 18">
            <span class="icon-plus"></span>
          </a>
        </div>


      </th>

      <td mat-cell *matCellDef="let row">
        <div class="row">
          <a mat-mini-fab (click)="decThrow(row)" [disabled]="row.throws[tabIndex-1] == 0 || tabIndex == 0">
            <span class="icon-minus"></span>
          </a>

          <label *ngIf="tabIndex != 0">{{ row.throws[tabIndex-1] }}</label>
          <label *ngIf="tabIndex == 0">{{ +(row.throws | strokeTotal) - +(par | strokeTotal) }}</label>

          <a mat-mini-fab (click)="incThrow(row)" [disabled]="tabIndex == 0">
            <span class="icon-plus"></span>
          </a>
        </div>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <div class="row" *ngIf="tabIndex > 0" [@fade]>
          <a mat-mini-fab color="warn" (click)="decPar()" [disabled]="par[tabIndex-1] == 1 || tabIndex == 0">
            <span class="icon-minus"></span>
          </a>

          <label *ngIf="tabIndex != 0">{{ par[tabIndex-1] }}</label>

          <a mat-mini-fab color="warn" (click)="incPar()" [disabled]="tabIndex == 0">
            <span class="icon-plus"></span>
          </a>
        </div>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>


  -->