<app-section-header title="Saved Leagues" [buttons]="headerButtons" (actionClick)="actionClick($event)">
</app-section-header>

<div *ngIf="resolve; else loader" @flyInPanelRow>
  <div class="panel row" *ngFor="let league of savedLeagues">
    <div>

      <a mat-flat-button color="transparent-primary" routerLink="/leagues/{{ league.id }}">
        <span class="{{ league.visibility | leagueVisibilityIcon }}"></span>
      </a>

      <label>{{ league.name }}</label>
      <label>{{ league.nextSession }}</label>
    </div>

    <div>
      <a mat-flat-button color="primary" routerLink="/leagues/{{ league.id }}">
        <span class="icon-link-2"></span>
      </a>
    </div>
  </div>

  <div class="message">
    <p>Looking to join a league?
      <a mat-flat-button color="transparent-accent" routerLink="/leagues/search">
        Search </a> for one.</p>
  </div>
</div>



<ng-template #loader>
  <app-feedback></app-feedback>
</ng-template>