<h1>Animation Toggle</h1>
<div class="row justify-content-between align-items-start">

    <div class="col">
        <a mat-raised-button color="primary" (click)="toggleLoader()">Toggle Loading</a>
    </div>

    <div class="col" >
        <loader small="true" *ngIf='feed.loading'></loader>
    </div>

    <div class="col" >
        <loader *ngIf='feed.loading'></loader>
    </div>
</div>
<div class="row justify-content-around align-items-center">
    <div class="col">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
    </div>
</div>
<!--
<app-section-header title="Graphs Update"></app-section-header>
<div class="article">
    <p>Welcome to the 6.6.2019 Update! Here's what we've changed:</p>

    <p><b>Graphs</b><br>Graphs are now live on the each session! You can now see a personalized graph of the scores from
        each player and team. You also can customize them by: hiding or showing members or viewing your throws or total
        scores!</p>
    <p><b>Mobile UI</b><br>New Update for the Mobile UI, Buttons and font are now bigger and easier to click.</p>
</div>

<app-section-header title="Interface Update"></app-section-header>
<div class="article">
    <p>Welcome to the 4.20.2019 Update! Here's what we've changed:</p>

    <p><b>UI</b><br>There is a new UI! This new UI will help us bring more features faster in the future!</p>
    <p><b>Teams</b><br>Teams are now active. When you setup a session you can now set the teams and the scording type.
        Both the team's score and the player's score are now displayed on the session screen.</p>
    <p><b>Scoring</b><br>Scores for each session are displayed on the session screen. This will also rank each member
        and team listed!</p>

    <p><b>Whats Next</b><br>Data Visuliazation is incoming. We plan to release a scoreboard and multiple graphs on both
        the session and the course. The session graphs will display the stats for each player and team. The Course
        graphs will display your personal scores at that course.</p>

</div>
-->