.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 2em;
}

.mat-dialog-container .headerContainer {
    margin-top: 0em;
}